*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ddd6d6;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: #dddada;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  z-index: 100;
}
header .logo img {
  height: 60px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

header nav ul li button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 12px;
  transition: color 0.3s;
}

header nav ul li button:hover {
  color: #007bff;
}
.button{
    background-color: black;
    color: #ddd6d6;
    border: none;
    border-radius: 10px;
}
li a{
    color: black;
    font-size: 1.1em;
    font-weight: 300;
}
li a:hover{
    text-decoration: underline;
}
.menu-toggle {
  display: none;
  color: black;
  font-size: 1.8em;
  cursor: pointer;
}

@media (max-width: 753px) {
  .menu-toggle {
    display: block;
  }
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  header nav {
    display: none;
    width: 100%;
    margin-top: 10px;
  }

  header nav.show {
    display: block;
  }

  header nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .leftside {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }
}